{% extends "base.html" %}

{% block title %}Adjuntar{% endblock %}

{% block content %}
    <style>
        .body {
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
        }
        .form-container {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            width: 100%;
            max-width: 400px;
        }
        .btn-primary {
            width: 100%;
        }
    </style>

    <div class="body">
        <div class="form-container">
            <h3 class="text-center mb-4">Adjunta tu tesis</h3>
            <form action="#" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="nombres" class="form-label">Nombres</label>
                    <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombres" value="{{ nombre1 }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="apellidos" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos" value="{{ apellido1 }}" readonly>
                </div>
                <div class="mb-3">
                    <label for="documento" class="form-label">Documento PDF *</label>
                    <input type="file" class="form-control" id="documento" name="documento" accept=".pdf" required>
                </div>
                <button type="submit" class="btn btn-primary">Subir</button>
            </form>
        </div>
    </div>

    
    {% if modal_visible == 'actualizacion' %}
    <!-- Modal para confirmar la actualización -->
    <div id="actualizarModal" class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                <p>Ya has subido un documento anteriormente.</p>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                </div>
            </div>
        </div>
    </div>
    {% elif modal_visible %}
    <!-- Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Documento Subido</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Tu documento se ha subido correctamente. Puedes consultarlo <a href="{{ file_url }}" target="_blank">aquí</a>.
                </div>
                <div class="modal-footer">
                    <a href="{% url 'detalleForm' %}"  type="button" class="btn btn-primary">Publicar</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    {% if modal_visible %}
    <script>
        var myModal = new bootstrap.Modal(document.getElementById('uploadModal'));
        myModal.show();
    </script>
    <script>
        var myModal = new bootstrap.Modal(document.getElementById('actualizarModal'));
        myModal.show();
    </script>
    {% endif %}

{% endblock %}
